.header-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px auto;
}

.list {
    display: flex;
    gap: 25px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    color: #000000;

}

#ham-menu {
    display: none;
}

#ham-menu:hover {
    scale: 1.3;
}

.link {
    color: #000000;
    text-decoration: none;
    position: relative;
}

.header__btn:hover {
    color: #EF7F04;
    border-top: #EF7F04 3px solid;
    margin-top: 10px;
}

.header__btn {
    padding-top: 29px;
}

/* .header__btn:hover::after {
    position: absolute;
    content: url(../images/header/top-line.svg);
    top: -43px;
    left: -15px;
    border-top: #EF7F04 5px solid;
} */

.btn {
    display: flex;
    gap: 0px 14px;
}

.btn :hover {
    cursor: pointer;
    opacity: 0.5;
}

.btn1-orange {
    background-color: #EF7F04;
}

.btn2-blue {
    background-color: #3B3A63;
}

.btn-item {
    display: flex;
    align-items: center;
    border: none;
    border-radius: 3px;
    padding: 10px 19px 10px 14px;
    font-size: 13px;
    color: #FFFFFF;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 15px;
}

.img {
    margin-right: 12px;
}