@media screen and (max-width:992px) {
    
    .container {
        /* justify-content: space-between; */
        margin: 5px auto;
        width: auto;
    }
    .main__header {
        display: none;
    }
    
    .header-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    #ham-menu {
        display: block;
    }

    #right_card  {
        display: none;
    }

    #services {
        flex-direction: column;
        /* padding: 0 auto;
        justify-content: center; */
        align-items: center;
    }

    /* .block{
        margin-left: 35vh;
    } */

    .main {
        background-image: url(../images/windows_house/main-bg-tab.png);
        background-repeat: no-repeat;
        background-position: center;
        margin-bottom: 84px;
        width: 100%;
    }

    .header__about {
        justify-content: center;
    }
    
    .about-company {
        /* width: 800px; */
    }

    .card > .description > .logo {
        width: 100px;
    }



    /* .card__wrapper {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-top: 50px;
        gap: 100px;
        margin-bottom: 20px;
    
    }

    .block__about {
        position: relative;
        justify-content: space-between;
        height: 461px;
        border-radius: 3px;
        background-color: #FFFFFF;
        gap: 0;
    } */
}


/* центрую на глаз, не могу сообразить как выронвнить по центру */