@media (max-width:992px) {
    
    .container {
        justify-content: space-between;
    }
    .main__header {
        display: none;
    }
    
    #ham-menu {
        display: block;
    }

    #right_card  {
        display: none;
    }

    #services {
        flex-direction: column;
        /* padding: 0 auto;
        justify-content: center; */
        align-items: center;
    }

    /* .block{
        margin-left: 35vh;
    } */

    .main {
        background-image: url(../images/windows_house/main-bg-tab.png);
        background-repeat: no-repeat;
        background-position: center;
        margin-bottom: 84px;
    }

    .header__about {
        justify-content: center;
    }
    
}


/* центрую на глаз, не могу сообразить как выронвнить по центру */