@media (max-width:992px) {
    
    .container {
        /* justify-content: space-between; */
        /* margin: 5px auto; */
        width: auto;
    }
    .main__header {
        display: none;
    }
    
    .header-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    #ham-menu {
        display: block;
    }

    #right_card  {
        display: none;
    }

    #services {
        flex-direction: column;        
        align-items: center;
    }

    .main {
        background-image: url(../images/windows_house/main-bg-tab.png);
        background-repeat: no-repeat;
        background-position: center;
        margin-bottom: 84px;
        width: 100%;
    }

    .header__about {
        justify-content: center;
    }
    
    .about-company {
        /* width: 800px; */
    }

    .card > .description > .logo {
        width: 100px;
    }

    .card__wrapper {
        column-gap: 40px;
    }

    #portfolio__img-4 {
        display: none;
    }

    details  {
        width: 800px;
    }

}


/* центрую на глаз, не могу сообразить как выронвнить по центру */