.main {
    background-image: url(../images/windows_house/main-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 84px;
    padding: 70px 0;
    margin: 10px auto;
    /* width: 1920px; */
    width: 100%;
    display: flex;
    justify-content: center;
    
}


.main__content {
    display: flex;
    justify-content: center;
}

.card__advantages {
    padding-right: 52px;
    margin-left: 10px;
}

.main__advantages {
    display: flex;
    gap: 0px 35px;

}

.main__advantages-item {
    width: 170px;
}

/* не нашел стиль в фигме дла тайтла */

.main__title {
    font-family: 'Roboto';
    line-height: 42px;
    font-size: 36px;
    font-weight: 100;
    color: #FFFFFF;
    margin-bottom: 36px;
    width: 470px;
    height: 126px;
    
}


.main__title--orange {
    
    display: block;
    font-family: 'Roboto';
    margin-bottom: 5px;
    font-size: 24px;
    font-weight: 700;
    color: #EF7F04;

}


.item__description {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
}


.form {
    background-color: #FFFFFF;
    width: 428px;
    height: 406px;
    padding: 43px 40px 70px 43px;
    border-radius: 10px;
    position: relative;
}
.form__title {
    text-align: center;
    margin-bottom: 27px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;


color: #2F2F51;
}

.form__input {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 12px 0 12px 16px;
    border: none;
    border-radius: 3px;
    background: #E2E2E2;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;

    color: #424268;
}

.submit__btn {
    
    background-color: #EF7F04;
    border: none;
    border-radius: 3px;
    width: 200px;
    height: 55px;
    position: absolute;
    margin-top: 16px;
    margin-left: 77px;
    padding: 10px 40px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    /* не смог выровнить по центру */
}

.submit__btn:hover {
    cursor: pointer;
    opacity: 0.5;
}


.test__measure {
    position: absolute;
    margin-top: 71px;
    margin-left: -48px;
    width: 477px;
}

/* Не срабатывают псведостили для чекбокса */

/* input[type="checkbox"]:checked,
input[type="checkbox"]:not(:checked) {
    
    display: none;
} */

.form__group {
    width: 320px;
    padding-left: 34px;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]:checked + label,
input[type="checkbox"]:not(:checked) + labeL {
    
    position: relative;
    top: 0;
    left: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;

}

input[type="checkbox"]:checked + label:before,
input[type="checkbox"]:not(:checked) + label:before {

    content: "";
    width: 25px;
    height: 25px;
    background: #E2E2E2;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: -35px;
    
}

input[type="checkbox"]:checked + label:after {
    content: url(../images/windows_house/checked.svg);
    position: absolute;
    top: -4px;
    left: -30px;


}





/* .form__input::before {
    content: url(../images/windows_house/measure.svg);

} */

